.main {
  background: none;
}

.cbi-map-descr {
  padding: 0 1.25rem;
  font-size: small;
  line-height: 1.5;
}

.cbi-section-descr:not(:empty) {
  padding: 1rem 1.25rem 0 1.25rem;
  font-size: small;
  line-height: 1.5;
}

.cbi-map-descr+fieldset {
  margin-top: 1rem;
}

.cbi-map-descr>abbr {
  text-decoration: underline;
  cursor: help;
}

.refresh {
  position: absolute;
  top: 33px;
  right: 40px;

  .ant-btn-primary {
    background: #5e72e4;
    border-color: #5e72e4;
    box-shadow: none;
  }

  .ant-btn-loading {
    background-color: #5e72e4;
  }
}

.cpuAndMem {
  width: 100%;
  height: 220px;
  // background-color: #5e72e4;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .cpu {
    width: 49.5%;
    height: 300px;
    border-radius: 3px;
  }

  .mem {
    width: 49.5%;
    height: 100%;
    border-radius: 3px;
  }
}